h1= title
p Welcome to #{title}
script(type='text/javascript')
  function sendToServer() {
    ws.send('krakenmsgA', '{ messageTextA: ' + $('#echoText').val() + ' }');
    ws.send('krakenmsgB', '{ messageTextB: ' + $('#echoText').val() + ' }');
  }

  // set-up web socket
  var ws = $.websocket("ws://192.168.1.27:8080/", "sip-websocket", {
    open: function () { },
    close: function () { alert('websocket has been closed'); },
    events: {
        krakenmsgA: function (e) { $('#returnText').append(e.data + "<br/>"); },
        krakenmsgB: function (e) { $('#returnText').append(e.data + "<br/>"); }
    }
  });
div
  div(style='float: left; clear: left; padding-top: 2px;')
    your text:
  div(style='float: left; padding-left: 20px;')
    input(type='text', id='echoText', style='width: 150px;', required)
  div(style='clear: left;')
    input(type='button', onclick='javascript:sendToServer();', value='Send')
  div(id='returnText', style='clear: left; height: 200px; padding-top: 30px;')

