!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  !!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  meta(charset='utf-8')
  title turtle-chat
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  != css('app')
  != js('jquery-1.7.2.min.js')
  != js('jquery.json-2.3.min.js')
  != js('jquery.websocket-0.0.1.js')
  != js('app')
  
body
  != body


| </html>