html
  head
    != js('jquery-1.7.2.min.js')
    != js('jquery.colorbox-min.js')

    script(type='text/javascript')
      var log_status = 0;
      function sel(name) {
        return document.getElementById(name);
      }
      function log(msg, type) {
        var log_text = sel("log-text");
        if (log_text) {
          log_text.value += "\\n" + msg;
        if (phone && phone.log_scroll)
          log_text.scrollTop = log_text.scrollHeight;
        }
      };

    != js('sip.js')
    != js('phone.js')
    != css('colorbox')
  body
    img#error-alert(src='images/ok.png', title='Your browser support HTML5 features!')
    input.button(style='position: relative; float: right; margin-top: 10px', type='button', value='Unregister', title='click to unregister', onclick='return phone.register();')
    .wrap-box-1
      #call-box.content-box.has-shadow.has-gradient
        .content-header Call
        div(style='padding: 4px;')
          select#target_scheme.uri-scheme(disabled='disabled', onchange='phone.setProperty(\'target_scheme\', [\'sip\', \'tel\', \'urn\'][sel(\'target_scheme\').selectedIndex])')
            option#target_scheme_sip(value='sip') sip
            option#target_scheme_tel(value='tel') tel
            option#target_scheme_urn(value='urn') urn
          | :
          input#target_value.uri-value(type='text', value='', disabled='disabled', onkeyup='setTimeout(phone.setProperty(\'target_value\', sel(\'target_value\').value), 100)')
          div(style='position: absolute; left: 81px; top: 50px; right: 2px; overflow: hidden;')
            table(cellpadding='0', cellspacing='0', width='100%')
              tr
                td
                  .dialdiv(onclick='phone.sendDigit(\'1\')')
                    span.dialnumber 1
                td
                  .dialdiv(onclick='phone.sendDigit(\'2\')')
                    span.dialnumber 2
                    span.dialletter abc
                td
                  .dialdiv(onclick='phone.sendDigit(\'3\')')
                    span.dialnumber 3
                    span.dialletter def
              tr
                td
                  .dialdiv(onclick='phone.sendDigit(\'4\')')
                    span.dialnumber 4
                    span.dialletter ghi
                td
                  .dialdiv(onclick='phone.sendDigit(\'5\')')
                    span.dialnumber 5
                    span.dialletter jkl
                td
                  .dialdiv(onclick='phone.sendDigit(\'6\')')
                    span.dialnumber 6
                    span.dialletter mno
              tr
                td
                  .dialdiv(onclick='phone.sendDigit(\'7\')')
                    span.dialnumber 7
                    span.dialletter pqrs
                td
                  .dialdiv(onclick='phone.sendDigit(\'8\')')
                    span.dialnumber 8
                    span.dialletter tuv
                td
                  .dialdiv(onclick='phone.sendDigit(\'9\')')
                    span.dialnumber 9
                    span.dialletter wxyz
              tr
                td
                  .dialdiv(onclick='phone.sendDigit(\'*\')', style='overflow: hidden;')
                    span.dialnumber(style='font-size: 20pt; display: block;') *
                td
                  .dialdiv(onclick='phone.sendDigit(\'0\')')
                    span.dialnumber 0
                td
                  .dialdiv(onclick='phone.sendDigit(\'#\')')
                    span.dialnumber #
                    span.dialletter abc
          div(style='position: absolute; bottom: 2px; left: 80px; right: 2px; overflow: hidden;')
            input#call_button.callbutton(type='button', value='Call', disabled='disabled', onclick='return phone.call();', title='click to call or answer')
            input#end_button.endbutton(type='button', value='End', disabled='disabled', onclick='return phone.end();', title='click to cancel, decline or hang up')
          div(style='position: absolute; left: 2px; top: 50px; width: 77px; bottom: 2px;')
            input#has_audio.checkbox(type='checkbox', disabled='disabled', title='Audio codec using pcmu, pcma and speex', onclick='phone.setProperty(\'has_audio\', sel(\'has_audio\').checked)')
            | Audio
            br
            //- input#has_tones.checkbox(type='checkbox', disabled='disabled', title='DTMF tones using RFC 4733', onclick='phone.setProperty(\'has_tones\', sel(\'has_tones\').checked)')
            //- | Tones
            //- br
            input#has_video.checkbox(type='checkbox', disabled='disabled', title='Video codec using h264', onclick='phone.setProperty(\'has_video\', sel(\'has_video\').checked)')
            | Video
            br
            //- input#has_text.checkbox(type='checkbox', disabled='disabled', title='Real-time text using t140 and RFC 4351', onclick='phone.setProperty(\'has_text\', sel(\'has_text\').checked)')
            //- | Text
            //- br
            //- input#has_location.checkbox(type='checkbox', disabled='disabled', title='Caller location for emergency calls', onclick='phone.setProperty(\'has_location\', sel(\'has_location\').checked)')
            //- | Location
            //- br
          div(style='position: absolute; left: 6px; bottom: 6px;')
            span#call_state idle
      #im-box.content-box.has-shadow.has-gradient
        .content-header Text Chat
        div(style='width: 100%; height: 170px; bottom: 0px;')
          #im-history-box
            textarea#im-history(readonly='readonly') This area displays the text messages.
          input#im-input(type='text', onkeyup='return phone.sendChar(event);', onchange='phone.sendText(sel(\'im-input\').value); sel(\'im-input\').value=\'\'; return false;')
          input#im-button(type='button', value='send', onclick='phone.sendText(sel(\'im-input\').value); sel(\'im-input\').value=\'\'; return false;')
    .wrap-box-2
      #remote-video-box.content-box.has-shadow.has-gradient
        .content-header Remote Video
        #remote-video
      #local-video-box.content-box.has-shadow.has-gradient
        .content-header
          | Local Video
          input#local-video-on(type='checkbox', style='height: 12px; padding: 0px; margin: 0px;', onclick='phone.setVideoProperty(\'local-video\', \'live\', sel(\'local-video-on\').checked)')
        #local-video
    #log-box
      #log-text-div
        #log-box-header
          #log-box-button.content-box Logs
        #log-box-body.content-box
          | auto-scroll?
          input#log_scroll(type='checkbox', style='font-size: small;', onclick='phone.setProperty(\'log_scroll\', sel(\'log_scroll\').checked)')
          textarea#log-text(readonly='readonly') This box displays the program trace
    div(style='display: none')
      #registration.has-center-gradient(style='padding:0 10px; height:100%')
        h2 Login
        #config-box
          table
            tr
              td(align='right') Display Name:
              td
                input#displayname.text(type='text', value='', disabled='disabled', style='width: 130px;', onkeyup='setTimeout(phone.setProperty(\'displayname\', sel(\'displayname\').value),100)')
            tr
              td(align='right') User Name:
              td
                input#username.text(type='text', value='', disabled='disabled', style='width: 130px;', onkeyup='setTimeout(phone.setProperty(\'username\', sel(\'username\').value),100)')
            tr
              td(align='right') Domain:
              td
                input#domain.text(type='text', value='', disabled='disabled', style='width: 130px;', onkeyup='setTimeout(phone.setProperty(\'domain\', sel(\'domain\').value),100)')
            tr
              td(align='right') Auth Name:
              td
                input#authname.text(type='text', value='', disabled='disabled', style='width: 130px;', onkeyup='setTimeout(phone.setProperty(\'authname\', sel(\'authname\').value),100)')
            tr
              td(align='right') Password:
              td
                input#password.text(type='password', disabled='disabled', style='width: 130px;', onkeyup='setTimeout(phone.setProperty(\'password\', sel(\'password\').value),100)')
        #register-box
          div(style='padding: 2px;')
            | Send outbound via:
            br
            div(style='padding-left: 10px;')
              input#outbound_target.radio(type='radio', name='outbound', value='target', disabled='disabled', onclick='phone.setProperty(\'outbound\', \'target\')')
              | target domain, or
              br
              input#outbound_proxy.radio(type='radio', name='outbound', value='proxy', disabled='disabled', onclick='phone.setProperty(\'outbound\', \'proxy\')')
              | proxy  address:
              input#outbound_proxy_address.text(type='text', value='', style='width: 94px;', disabled='disabled', onkeyup='setTimeout(phone.setProperty(\'outbound_proxy_address\', sel(\'outbound_proxy_address\').value),100)')
            | Register every
            input#register_interval.text(type='text', value='', style='width: 40px;', disabled='disabled', onclick='phone.setProperty(\'register_interval\', parseInt(sel(\'register_interval\')).value)')
            | seconds
            br
            input#rport.radio(type='checkbox', disabled='disabled', onclick='phone.setProperty(\'rport\', sel(\'rport\').checked)')
            | Use rport,
            input#sipoutbound.radio(type='checkbox', disabled='disabled', onclick='phone.setProperty(\'sipoutbound\', sel(\'sipoutbound\').checked)')
            | Use sip-outbound
            br
            | AoR:
            input#local_aor.text(type='text', style='width: 190px;', readonly='readonly', disabled='disabled')
            div(style='position: relative; bottom: 0px; left: 4px; right: 0px;')
              span#sock_state idle
              | ,
              span#register_state not registered
              div(style='float: right;')
                input#register_button.button(type='button', value='Register', disabled='disabled', title='click to register', onclick='return phone.register();')
      #network-box
        h2
          span#network_type
          | Network
        #network_status(style='position: absolute; right: 8px;')
        #webrtc-network(style='position: relative; left: 12px; width: 215px; height: 138px; float: left;')
          //- | Path:
          //- input#websocket_path.text(type='text', style='width: 40px;', disabled='disabled', title='websocket path to the SIP proxy application', onkeyup='setTimeout(phone.setProperty(\'websocket_path\', sel(\'websocket_path\').value),100)')
          input#enable_sound_alert(type='checkbox', disabled='disabled', title='enable or disable sound alert for text messages and call', onclick='phone.setProperty(\'enable_sound_alert\', sel(\'enable_sound_alert\').checked)')
          | Alert
          br
          br
          | Detecting HTML5 support:
          ol(style='margin-top: 0px; margin-bottom: 0px;')
            li
              | video -
              b
                span#has_html5_video
            li
              | websocket -
              b
                span#has_html5_websocket
            li
              | webrtc -
              b
                span#has_html5_webrtc
    script(type='text/javascript')
      var phone = new Phone();
      //network._debug = true;
      //network.onstatus = function(value) { phone.statusChanged(value); };
      //network.onnetworkchange = function() { phone.networkChanged(); };
      $(document).ready(function(){
        phone.addEventListener("propertyChange", function(event) {
          var value = event.newValue;
          var property = event.property;
          var subprop = "";
          if (property.indexOf(".") >= 0) {
            var parts = property.split(".");
            property = parts[0];
            if (parts.length > 0)
              subprop = parts[1];
          }
          var input = sel(property);
          if (!input) {
            var inputs = document.getElementsByName(property);
            // this may be radio buttons.
            for (var j=0; j<inputs.length; ++j) {
              var input1 = inputs[j];
              if (subprop) {
                input1[subprop] = value;
              }
              else if (input1.value == value) {
                input = input1;
                input.checked = true;
                break;
              }
            }
          }
          else {
            if (input.localName == "input") {
              if (input.type == "text" || input.type == "password" || input.type == "button") {
                if (subprop)
                  input[subprop] = value;
                else
                  input.value = value;
              }
              else if (input.type == "checkbox") {
                if (subprop)
                  input[subprop] = value;
                else
                  input.checked = (value && value != "false" ? true : false);
              }
              else if (input.type == "radio") {
                if (subprop) {
                  input[subprop] = value;
                }
              }
            }
            else if (input.localName == "span" || input.localName == "div") {
              if (!subprop)
                input.innerHTML = cleanHTML(value);
            }
            else if (input.localName == "select") {
              if (subprop)
                input[subprop] = value;
              else
                input.value = value;
            }
            else {
              log("ignoring propertyChange for " + event.property);
            }
          }
        });
        phone.addEventListener("message", function(event) {
          var msg = "";
          if (event.sender) {
          msg += event.sender + ": ";
          }
          if (event.text) {
          msg += event.text;
          }
          if (msg) {
          var history = sel('im-history');
          history.value += "\\n" + msg;
          history.scrollTop = history.scrollHeight;
          }
        });
        phone.populate();
        phone.help("default");
        sel('local-video').innerHTML = "";
        sel('remote-video').innerHTML = "";
        phone.detectHTML5();
        sel('webrtc-network').style.visibility = "visible";

        $("#log-box-button").click(function() {
          if (log_status == 0) {
            $("#log-box-body").show();
            $("#log-box").animate({height: '+=186'}, 500, function() {
              log_status = 2;
            })
            log_status = 1;
          } else if (log_status == 2) {
            $("#log-box").animate({height: '-=186'}, 500, function() {
              log_status = 0;
              $("#log-box-body").hide();
            })
            log_status = 1;
          }
        });
        if (!phone.has_html5_websocket || !phone.has_html5_video || !phone.has_html5_webrtc)
          $("#error-alert").attr("src", "images/error.png").attr("title", "Your browser didn't support some of HTML5 features");
        $("#error-alert").colorbox({inline:true, href: "#network-box", scrolling: false});
        if (!phone.has_html5_websocket)
          $.colorbox({inline:true, href: "#network-box", close: "", scrolling: false, overlayClose: false, escKey: false});
        else $.colorbox({inline:true, href: "#registration", close: "", scrolling: false, overlayClose: false, escKey: false});
      });
